@{
    ViewData["Title"] = "Advertise";
}

<!-- HOME -->
<section class="section-hero overlay inner-page bg-image pt-5" style="background-image: url('images/hero_1.jpg');" id="home-section">
    <div class="container">
        <div class="row pt-3 pb-0">
            <div class="col-md-9">
            </div>
            <div class="col-md-3">
                <div class="custom-breadcrumbs">
                    <a href="#">Home</a> <span class="mx-2 slash">»</span>
                    <a href="#">Advertise </a> <span class="mx-2 slash">»</span>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="site-section pt-0 mb-4">
    <div class="container">


        <div class="row align-items-center mb-5">
            <div class="col-lg-12 mb-2 mb-lg-0">
                <div class="align-items-center border-bottom">
                    <div>
                        <h2 class="font-weight-bold font-italic">Advertise on getmeajob.com!</h2>
                    </div>
                    <p class="text-black mb-3 pb-2 ">
                        There are now two exciting ways to advertise on getmeajob.com: Front Page Listings and banner advertisements.
                    </p>
                </div>
            </div>

        </div>

        <div class="row mb-5">
            <div class="col-lg-12">
                <div class="p-2 p-md-5">
                    <h4 class="font-weight-bold text-black mb-3 pb-2 ">
                        Front Page Listings
                    </h4>

                    <p class="text-black mb-3 pb-2 ">
                        <b>NEW!</b> Get your job or resume listing featured on getmeajob.com's front page. The name (if provided), job title, city (if provided) and state (if provided) of your job or resume will be on getmeajob.com's front page at <a href="getmeajob.com">getmeajob.com</a>. The cost is $30 CDN for 30 days and is subject to availability.
                    </p>

                    <h4 class="font-weight-bold text-black mb-3 pb-2 ">
                        Additional terms for Front Page Listings
                    </h4>
                    <p class="text-black mb-3 pb-2 ">
                        &#8226; The Front Page Listing lasts for 30 days. <br />
                        &#8226; The posting cannot be changed for the period of time it is featured on the front page.  <br />
                        &#8226; Although you may delete your submission, you will lose the Front Page Listing feature without a refund.  <br />
                        &#8226; The submission must follow getmeajob.com's standard terms and conditions that you agreed to when the submission was made. Also, in particular, you are responsible for the content of your submission and ensuring that it is accurate and up to date.  <br />

                        &#8226; We may reject a Front Page Listing order for any reason. Placing an order does not guarantee availiaility or acceptance. We will not charge you if we reject your order.  <br />

                        &#8226; Front Page Listings may not contain URLs (web site addresses) or email addresses in the Job description section or Resume section. Should your listing contain URLs or email addresses in the Job description section or Resume section, we may either reject the listing or edit out the URLs or email addresses.  <br />

                        &#8226; You may purchase the Front Page Listing feature only for jobs or resumes that you have submitted.  <br />

                    </p>

                    <p class="text-black mb-3 pb-2 ">
                        <b>Ordering signifies that you have agreed to the terms and conditions regarding banner advertising and to the terms and conditions regarding the use of this web site.</b>
                    </p>

                    <p class="text-black mb-3 pb-2 ">
                        Need further assistance? Contact us regarding questions about advertising.
                    </p>



                    <div class="form-group">
                        <input class="input-form" type="radio" name="fr" /> Get a Front Page Listing for a Job <br />
                        <input class="input-form" type="radio" name="fr" /> Get a Front Page Listing for a Resume <br />
                    </div>

                    <button type="button" class="btn btn-block btn-primary btn-md mb-3" id="question_ask">Purchase for $30 CDN</button>
                    <p class="border-bottom text-black mb-3 pb-2 ">
                        You will be entering your information on a secure server.
                    </p>


                    <h4 class="font-weight-bold text-black mb-3 pb-2 ">
                        Banner advertisements
                    </h4>
                    <p class="text-black mb-3 pb-2 ">
                        You can get noticed quickly on www.getmeajob.com with a banner. Your banner will be placed into a pool of banners and displayed at random for 30 days. Banner ads start from as low as $15 CDN for 30 days. That's about 50 cents CDN a day!
                    </p>

                    <h5 class="font-weight-bold text-black mb-3 pb-2 ">
                        Banner Specifications
                    </h5>
                    <p class="text-black mb-3 pb-2 ">
                        The banner is to be 468x60 pixels and may not exceed 10000 bytes. (The www.getmeajob.com logo is less than 2000 bytes.) Your banner will be placed into a pool of banners, containing other advertisements, and a banner from the pool will be displayed at random.
                    </p>
                    <p class="text-black mb-3 pb-2 ">
                        Have your banner advertisement displayed on a page of http://www.getmeajob.com/ for one month, 10% (approx.) of the time, for as little as $15 Cdn. Ordering signifies that you have agreed to the terms and conditions regarding banner advertising and to the terms and conditions regarding the use of this web site.
                    </p>
                    <p class="text-black mb-3 pb-2 ">
                        Need further assistance? Contact us regarding questions about advertising.
                    </p>


                    <div class="form-group">
                        <input class="input-form" type="radio" name="ad" /> Advertise on the Search Job Listings first page <br />
                        <input class="input-form" type="radio" name="ad" /> Advertise on the Search Job Listings results page <br />
                        <input class="input-form" type="radio" name="ad"  /> Advertise on the Show Job Listing page <br /> <br />

                        <input class="input-form" type="radio" name="ad" /> Advertise on the Search Resumes first page <br /> 
                        <input class="input-form" type="radio" name="ad" /> Advertise on the Search Resumes results page <br />
                        <input class="input-form" type="radio" name="ad" /> Advertise on the Show Resume page <br /> <br />

                        <input class="input-form" type="radio" name="ad" /> Advertise on the Submit Job Listing first page <br />
                        <input class="input-form" type="radio" name="ad" /> Advertise on the Submit Job Listing second page <br />
                        <input class="input-form" type="radio" name="ad" />Advertise on the Submit Job Listing third page <br />
                        <input class="input-form" type="radio" name="ad" />Advertise on the Submit Job Listing fourth page <br /> <br />



                        <input class="input-form" type="radio" name="ad" />Advertise on the Submit Resume first page <br />
                        <input class="input-form" type="radio" name="ad" />Advertise on the Submit Resume second page <br />
                        <input class="input-form" type="radio" name="ad" />Advertise on the Submit Resume third page <br />
                        <input class="input-form" type="radio" name="ad"  />Advertise on the Submit Resume fourth page <br /> <br />

                    </div>

                    <button type="button" class="btn btn-block btn-primary btn-md mb-3">
                        Purchase banner ad space from as low as $15 CDN
                    </button>


                    <p class="text-black mb-3 pb-2 ">
                        You will be entering your information on a secure server.
                    </p>




                </div>
            </div>

        </div>


    </div>


</section>