@using Getmeajob.Model

@{
    ViewData["Title"] = "Contact Page";
}

<!-- HOME -->
<section class="section-hero overlay inner-page bg-image pt-5" style="background-image: url('images/hero_1.jpg');" id="home-section">
    <div class="container">
        <div class="row pt-3 pb-0">
            <div class="col-md-9">
            </div>
            <div class="col-md-3">
                <div class="custom-breadcrumbs">
                    <a href="#">Home</a> <span class="mx-2 slash">»</span>
                    <span class="text-white"><strong>Contact</strong></span>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="site-section pt-0">
    <div class="container">

        @if (ViewBag.success == true)
        {
            <div class="row align-items-center mb-5">
                <div class="col-lg-12 mb-2 mb-lg-0">
                    <div class="align-items-center">
                        <div>
                            <h2 class="font-weight-bold">Forgot Password Emailed</h2>
                        </div>
                        <div>
                            <p>We have successfully sent an email to you.</p>
                        </div>
                        
                    </div>
                </div>
            </div>

        }
        else
        {

            <div class="row align-items-center mb-5">
                <div class="col-lg-12 mb-2 mb-lg-0">
                    <div class="align-items-center">
                        <div>
                            <h2 class="font-weight-bold">No matching email on file</h2>
                        </div>
                        <div>
                            <p class="pb-2 ">There are currently no passwords on file for the email address you specified, or you have specified that you would not like us to email your password to you.</p>
                        </div>
                        <div>
                            <p class="pb-2 ">
                                If this is the case, please be advised that we are not able to provide passwords for security reasons.
                            </p>
                        </div>
                        <div>
                            <p class="pb-2 ">
                                Note that you will not be able to obtain a password for a posting which has not yet appeared live on the site.
                            </p>
                        </div>
                    </div>
                </div>

            </div>


        }



    </div>


</section>