@{
    ViewData["Title"] = "Terms of use";
}

<!-- HOME -->
<section class="section-hero overlay inner-page bg-image pt-5" style="background-image: url('images/hero_1.jpg');" id="home-section">
    <div class="container">
        <div class="row pt-3 pb-0">
            <div class="col-md-9">
            </div>
            <div class="col-md-3">
                <div class="custom-breadcrumbs">
                    <a href="#">Home</a> <span class="mx-2 slash">»</span>
                    <a href="#">Terms of use</a> <span class="mx-2 slash">»</span>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="site-section pt-0 mb-4">
    <div class="container">


        <div class="row align-items-center mb-5">
            <div class="col-lg-12 mb-2 mb-lg-0">
                <div class="d-flex align-items-center border-bottom">
                    <div>
                        <h2 class="font-weight-bold font-italic">Legal information</h2>
                    </div>
                </div>
            </div>

        </div>

        <div class="row mb-5">
            <div class="col-lg-12">
                <div class="p-2 p-md-5 font-italic">
                    <p class="text-black mb-3 pb-2 ">
                        To use this web site, www.getmeajob.com, you must read, agree to, and understand the following rules and regulations, which shall serve as a legally binding contract.
                        You agree not to access this site from the EU and that you are not a resident of the EU.
                        If you are acting on behalf of an entity, you represent and hereby warrant that you have legal authorization to act on behalf of that entity and enter into this legally binding contract, and you further understand and warrant that you have the legal authorization to grant Staticsites Inc. the right to hold, at Staticsites Inc.'s sole discretion, either you or that entity legally responsible or both you and that entity legally responsible
                    </p>

                    <p class="text-black mb-3 pb-2 ">
                        Staticsites Inc., hereon after referred to as Staticsites, is the owner of this web site, www.getmeajob.com. By submitting information to this web site in any medium (including email or normal postal mail), you hereby give Staticsites the permission and royalty-free right to post, publish, or otherwise use such information in any medium, including electronically, without further notice, permission, or compensation. At the discretion of Staticsites, such information may or may not be displayed in conjunction with advertisements. Furthermore, you represent and warrant that you are in a position to grant us this right, and we may disclose the logged details of the submitter (including the name, email, and IP address) to the email address or physical address on file for any referenced submission or to any authorized representative. Compilations of information contained in this web site become copyright © 1997-2022, Staticsites, and all rights not explicitly granted are reserved.
                    </p>

                    <p class="text-black mb-3 pb-2 ">
                        This web site contains features to perform submissions which may include job submissions, resume submissions, submissions to contact employers, and submissions to contact candidates. The submitter shall assume sole responsibility for his or her submission, including the content of the submission, complying with all applicable laws, remembering the email address and password used to make said submission if applicable, and the timely removal of all obsolete submissions if applicable. No permission is granted to submit a resume on behalf of any entity other than yourself. No permission is granted to submit a job on behalf of any entity other than the immediate company you are employed with. By submitting the job, the submitter represents and warrants that he or she has legal authority to do so.
                    </p>

                    <p class="text-black mb-3 pb-2 ">
                        You may receive email for the functionality of this site. Such email may include, but is not limited to: email containing a link to confirm your submissions, replies to messages you have sent to us, replies to your resume or job postings, and order confirmations or other communication pertaining to any orders you have placed. You understand that although we discourage individuals from abusing the feature to contact employers or candidates, some individuals may still send irrelevant messages. You agree not to mark or report any email that originates from our mail servers as "spam" or "junk mail," or other similar category of unwanted mail. Otherwise, you agree to pay a fee of the greater of $10000 or six (6) times the amount we incur to reverse any consequences of such actions.
                    </p>
                    <p class="text-black mb-3 pb-2 ">
                        If you use the feature to contact employers or candidates (the "messaging feature"), you agree that you will only send messages that are relevant to that specific posting. Recruiters may not use this feature. Individuals not looking for relevant employment with the entity being contacted may not use this feature. Organizations not reasonably interested in potentially hiring the entity being contacted may not use this feature. Individuals may only use this feature to contact an employer regarding the particular job posting. Organizations may only use this feature to contact an individual regarding a job in the area of the individual's resume. You agree not to harass users of the site or send multiple messages for the same posting, and you agree not to send a total of more than six (6) messages per day using the messaging feature. Also refer the "Prohibited Content" section for further content that is explicitly prohibited.
                        All messages sent may be logged by Staticsites, and a minimum fee of $10000 applies each time a message contrary to the manner specified above is sent. Improper use of the messaging feature may also be reported to your ISP and/or law enforcement agencies. You agree to indemnify getmeajob.com and Staticsites for the improper use of the messaging feature and agree to be responsible for 6 (six) times the legal fees, including but not limited to court costs and fines. If we notice improper use of the messaging feature, you agree that we may permanently store messages you have sent or attempted to send, as well as any other personal information about you, and provide these messages and your personal information to any third parties, including but not limited to law enforcement agencies and collection agencies.
                    </p>
                    <p class="text-black mb-3 pb-2 ">
                        Staticites is under no obligation to monitor the information received through its site. However, Staticites reserves the right to use and to edit any and/or all information sent to or sent through www.getmeajob.com without further notice, permission, or compensation, for any reason whatsoever, at its sole discretion. Staticites also reserves the right not to publish or disseminate information received, without further notice, for any reason whatsoever, at its sole discretion. Such information may include (but is not limited to) the Prohibited Content described below.
                    </p>

                    <p class="text-black mb-1 pb-1 ">
                        <b>Prohibited Content</b>: Staticites prohibits submissions containing the following content:
                    </p>

                    <p class="text-black mb-1 pl-4 pb-1 ">
                        &#8226; information which is not of sufficient detail or which can lead to confusion taken under ordinary context;
                    </p>
                    <p class="text-black mb-1 pl-4 pb-1 ">
                        &#8226; information which is deemed to be offensive (or promotes activity which is offensive) to the society in general;
                    </p>
                    <p class="text-black mb-1 pl-4 pb-1 ">
                        &#8226; information which is deemed to be illegal (or promotes illegal activity) in North America, the location in which you reside, the location in which the job or resume was submitted and/or the location where the job takes place;
                    </p>
                    <p class="text-black mb-1 pl-4 pb-1 ">
                        &#8226; information which is of a pornographic nature;
                    </p>
                    <p class="text-black mb-1 pl-4 pb-1 ">
                        &#8226; submissions which do not primarily consist of a job listing or of a resume;
                    </p>
                    <p class="text-black mb-1 pl-4 pb-1 ">
                        &#8226; submissions which point visitors to another web site;

                    </p>

                    <p class="text-black mb-1 pl-4 pb-1 ">
                        &#8226; submissions that encourage fraud;

                    </p>

                    <p class="text-black mb-1 pl-4 pb-1 ">
                        &#8226; submissions that violate generally acceptable community standards;

                    </p>

                    <p class="text-black mb-1 pl-4 pb-1 ">
                        &#8226; submissions that require further payment (for example, jobs that require applicants to pay a fee);
                    </p>

                    <p class="text-black mb-1 pl-4 pb-1 ">
                        &#8226; submissions that pertain to, are a result of, or otherwise encourage multilevel marketing or affiliate marketing;

                    </p>

                    <p class="text-black mb-1 pl-4 pb-1 ">
                        &#8226; submissions that are made on behalf of someone else or another company;

                    </p>

                    <p class="text-black mb-1 pl-4 pb-1 ">
                        &#8226; inaccurate, misleading, defamatory, or fradulent information;

                    </p>

                    <p class="text-black mb-1 pl-4 pb-1 ">
                        &#8226; pyramid schemes.
                    </p>

                    <p class="text-black mt-2 mb-3 pb-2 ">
                        Staticsites's discretion to the above conditions is final, and Staticsites will not reimburse monies paid if the application is rejected due to noncompliance with the above criteria. Staticsites may charge a fee of $500 per submission that contains the above prohbited content, and your use of this site confirms your acceptance of this fee. Since Staticsites is under no obligation to actively monitor submissions, the acceptance of your submission does not constitute a waiver of this fee. Staticsites does not guarantee the availability of the service or of the web site.

                    </p>

                    <p class="text-black mb-3 pb-2 ">
                        Staticsites will not be responsible for any damages however caused by accurately, inaccurately, or failing to perform the posting, updating, or deleting of submissions, and Staticsites explicitly disclaims liability for any damages, real or otherwise, which may result from the error, negligence, or incompetence of Staticsites. The user acknowledges that Staticsites will not be held under any obligation to respond to any inquiries. The use of this web site is entirely at the user's own risk. As with all job interviews, users of this web site are strongly encouraged to verify references before meeting anyone in person. Staticsites will not be held responsible and disclaims all liabilities for the use, abuse, or inability to use of this web site or of the information contained therein. Staticsites is not responsible for the content of advertisements and job and resume postings. You understand that getmeajob.com is unable to provide technical support, and any person using this web site is required to have sufficient technical knowledge to use this web site and to use a compatible browser.

                    </p>

                    <p class="text-black mb-3 pb-2 ">
                        <b>
                            No permission is granted for information found on this site to be 'mined' by 'robots' or by other automated means. Staticsites may choose not to publish information which is submitted in an automated manner and may ignore postings from groups or individuals which repeatedly submit duplicate resumes or jobs. We may store information about you, including content you have submitted or attempted to submit, as well as any communications, in order to enforce our terms and conditions, and provide such content, communications, and your personal information to any third parties, including but not limited to law enforcement agencies and collection agencies.
                        </b>
                    </p>

                    <p class="text-black mb-3 pb-2 ">
                        Additional <a href="#" >terms and conditions</a> apply for advertisements.
                    </p>

                    <p class="text-black mb-3 pb-2 ">
                        No refunds will be given on job postings, resume postings, or advertisements, and no reimbursements will be made for postings, updates, or deletions which are unsuccessful whether through delay, inaccuracy, or failure of execution, except for the price of the unsuccessful update(s) that has been paid to and received directly by Staticsites.


                    </p>

                    <p class="text-black mb-3 pb-2 ">
                        If any part of this agreement is found to be unenforceable, the rest of this agreement shall continue in full force and effect. Failure of Staticsites to enforce any part of this agreement shall not constitute a waiver of Staticsites's rights under this agreement. In the event of a change of ownership, the new owner(s) may have access to all submitted information and all rights granted to Staticsites under this agreement may, at the sole discretion of Staticsites and/or its new owner(s), be transfered to the new owner(s).


                    </p>

                     <p class="text-black mb-3 pb-2 ">
                         All trademarks are acknowledged. Staticsites reserves the right to log this web site and monitor or otherwise keep track of messages. Please see our <a asp-action="Privacy" asp-controller="Home" >privacy policy.</a>


                    </p>

                     <p class="text-black mb-3 pb-2 ">
                         Should you wish to contact us, please do so <a href="#" >here</a>. <br />
                         By contacting us, you give us the royalty free right to use, implement, and/or disseminate any information, including unsolicited ideas and suggestions, resulting from your communication.
                    </p>

                     <p class="text-black mb-3 pb-2 ">
                         We reserve the right to update these terms and conditions at any time and without further notice.
                    </p>

                </div>
            </div>

        </div>


    </div>


</section>