@{
    ViewData["Title"] = "Privacy Policy";
}

<!-- HOME -->
<section class="section-hero overlay inner-page bg-image pt-5" style="background-image: url('images/hero_1.jpg');" id="home-section">
    <div class="container">
        <div class="row pt-3 pb-0">
            <div class="col-md-9">
            </div>
            <div class="col-md-3">
                <div class="custom-breadcrumbs">
                    <a href="#">Home</a> <span class="mx-2 slash">»</span>
                    <a href="#">Privacy</a> <span class="mx-2 slash">»</span>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="site-section pt-0 mb-4">
    <div class="container">


            <div class="row align-items-center mb-5">
                <div class="col-lg-12 mb-2 mb-lg-0">
                    <div class="d-flex align-items-center border-bottom">
                        <div>
                            <h2 class="font-weight-bold font-italic" >Privacy Statement</h2>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row mb-5">
                <div class="col-lg-12">
                    <div class="p-2 p-md-5">
                        <p class="text-black mb-3 pb-2 ">
                            Since the goal of this site is to help match potential employers and jobs seekers by generating exposure, all information submitted on this site (including, but not limited to, your name, your email address, your street address, and your resume or job) may be published and available to us, our successors and assigns, other site visitors, or other third parties. In the event of a change of ownership, the new owner(s) may have access to all submitted information. If you do not wish to disclose such information, please write Anonymous in the applicable field. Minors must have the consent of their parents or legal guardian before using this site. If you do not wish to make such information public, please do not submit it on this site. We reserve the right to log this web site. Inappropriate use of this web site, as defined by our terms and conditions, may result in us collecting additional information about you and providing your information, including any content you have submitted or attempted to submit or other communications, to third parties, including but not limited to law enforcement agencies or collection agencies.
                        </p>
                        
                        <p class="text-black mb-3 pb-2 ">
                            At this time, you may automatically delete all jobs or resumes associated with your email address, as well as other information you have submitted at the same time you submitted your job or resume submission, by clicking the appropriate link in the email message that you receive when someone contacts you regarding your job or resume submission and following the instructions. If you don't have such an email message, simply locate one of your job or resume submissions and click the link to email yourself. Open the email message you receive and follow the instructions in the link.
                        </p>

                         <p class="text-black mb-3 pb-2 ">
                            www.getmeajob.com contains advertisements for other sites. These sites may have privacy policies which differ from ours, and we explicitly disclaim responsiblity for the privacy policies of other sites.
                        </p>
                    </div>
                </div>

            </div>

             <div class="row align-items-center mb-3">
                <div class="col-lg-12 mb-2 mb-lg-0">
                    <div class="d-flex align-items-center border-bottom">
                        <div>
                            <h2 class="font-weight-bold font-italic" > Cookie Policy</h2>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row mb-5">
                <div class="col-lg-12">
                    <div class="p-2 p-md-5">
                       
                        <p class="text-black mb-3 pb-2 ">
                            As you explicitly agreed to by clicking the appropriate link to continue using this site, we and our partners will collect data and use cookies, including third-party cookies, for relevant advertisments, measurement, and functionality of this site.
                        </p>
                        <p class="text-black mb-3 pb-2 ">
                            We reserve the right to update this privacy policy and cookie statement at any time and without further notice.
                        </p>
                    </div>
                </div>

            </div>

    </div>


</section>