@using Getmeajob.Model
@model JobM

@{
    ViewData["Title"] = "Confirm Job Page";
}

<!-- HOME -->
<section class="section-hero overlay inner-page bg-image pt-5" style="background-image: url('images/hero_1.jpg');" id="home-section">
    <div class="container">
        <div class="row pt-3 pb-0">
            <div class="col-md-9">
            </div>
            <div class="col-md-3">
                <div class="custom-breadcrumbs">
                    <a href="#">Home</a> <span class="mx-2 slash">»</span>
                    <a href="#">Job</a> <span class="mx-2 slash">»</span>
                    <span class="text-white"><strong>Delete your Job</strong></span>
                </div>
            </div>
        </div>
    </div>
</section>


@if (ViewBag.Error == true)
{
    
    <section class="site-section pt-0">
        <div class="container">


            <div class="row align-items-center mb-5">
                <div class="col-lg-12 mb-2 mb-lg-0">
                    <div class="d-flex align-items-center">
                        <div>
                            <h2 class="font-weight-bold">Delete your Job: Job Not Confirmed Yet</h2>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12 mb-2 mb-lg-0">
                    <div class="align-items-center">
                        <div>
                            <h4 class="font-weight-bold" >Error</h4>
                        </div>
                         <div>
                            <p class="font-weight-bold" >Something went wrong!</p>
                        </div>
                    </div>
                </div>

            </div>

        </div>


    </section>
}
else
{

    <section class="site-section pt-0">
        <div class="container">


            <div class="row align-items-center mb-5">
                <div class="col-lg-12 mb-2 mb-lg-0">
                    <div class="d-flex align-items-center">
                        <div>
                            <h2 class="font-weight-bold">Delete your Job: Job Not Confirmed Yet</h2>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12 mb-2 mb-lg-0">
                    <div class="d-flex align-items-center">
                        <div>
                            <h4>Please check your email to continue</h4>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row mb-5">
                <div class="col-lg-12">
                    <div class="p-2 p-md-5">
                        <p class="text-black mb-3 border-bottom pb-2 font-weight-bold">
                            The submission process is not yet complete!
                        </p>
                        <p class="text-black mb-3 pb-2 ">
                            An email has now been sent to the email address you entered. You will need to follow the instructions in that email to ensure your submission will be considered for review. We take this extra step to ensure the quality of postings available on our site, getmeajob.com. Your posting will appear once it has been reviewed and approved.
                        </p>

                        <p class="text-black mb-3 border-bottom pb-2 font-weight-bold">
                            Important!
                        </p>
                        <p class="text-black mb-3 pb-2 ">
                            If you do not receive the email message, be sure to add getmeajob.com to your list of Safe Senders. For example, if you are using Hotmail, choose Options, Safe and blocked Senders, Safe senders, and add getmeajob.com to the list before retrying.
                        </p>

                    </div>
                </div>

            </div>



            <div class="row mb-2">
                <div class="col-lg-12">
                    <div class="p-2 p-md-5">
                        <p class="text-black mb-3 border-bottom pb-2 font-weight-bold">
                            Your next step
                        </p>
                        <p class="text-black mb-3 pb-2 ">
                            Your special offers for submitting a job!
                        </p>
                    </div>
                </div>

            </div>

        </div>


    </section>
}