@using Getmeajob.Model
@model IList<UserM>

@{
    ViewData["Title"] = "Delete Posts Page";
}

<!-- HOME -->
<section class="section-hero overlay inner-page bg-image pt-5" style="background-image: url('images/hero_1.jpg');" id="home-section">
    <div class="container">
        <div class="row pt-3 pb-0">
            <div class="col-md-9">
            </div>
            <div class="col-md-3">
                <div class="custom-breadcrumbs">
                    <a href="#">Home</a> <span class="mx-2 slash">»</span>
                    <span class="text-white"><strong>Confirm Delete</strong></span>
                </div>
            </div>
        </div>
    </div>
</section>



@if (ViewBag.Error == true)
{

    <section class="site-section pt-0">
        <div class="container">


            <div class="row align-items-center mb-5">
                <div class="col-lg-12 mb-2 mb-lg-0">
                    <div class="align-items-center">
                        <div>
                            <h2 class="font-weight-bold">Error</h2>
                        </div>
                        <div>
                            <p class="font-weight-bold">Something went wrong!</p>
                        </div>
                    </div>
                </div>

            </div>

        </div>


    </section>
}
else
{

    <section class="site-section pt-0">
        <div class="container">


            <div class="row align-items-center mb-5">
                <div class="col-lg-12 mb-2 mb-lg-0">
                    <div class="d-flex align-items-center">
                        <div>
                            <h2 class="font-weight-bold">Really delete all your submissions?</h2>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12 mb-2 mb-lg-0">
                    <div class="align-items-center">
                        <div>
                            <p class="mb-1">All your jobs and resumes submitted under @Model.Select(i => i.Email).FirstOrDefault() will be deleted from getmeajob.com, and you will no longer receive emails regarding your jobs and resumes, unless you submit another job or resume.</p>
                        </div>
                        <div>
                            <p>This process cannot be undone.</p>
                        </div>

                        <div>
                            <p>This process cannot be undone.</p>
                        </div>

                        <form method="post" asp-controller="User" asp-action="DeleteAllConfirm" > 

                            <div>
                                @for (int i = 0; i < @Model.Count(); i++)
                                {
                                    <input type="hidden" asp-for="@Model[i].UserId" value="@Model[i].UserId" />
                                    
                                }

                                @*<a asp-controller="User" asp-action="DeleteAllConfirm" asp-route-id="" class="btn btn-block btn-primary btn-md">Delete all my jobs and resumes</a>*@
                                <button type="submit" class="btn btn-block btn-primary btn-md">Delete all my jobs and resumes</button>
                            </div>

                        </form>

                    </div>
                </div>

            </div>



        </div>


    </section>
}