<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Getmeajob.WebApp</title>

    <link rel="shortcut icon" href="ftco-32x32.png">

    <link rel="stylesheet" href="~/fe/css/custom-bs.css">
    <link rel="stylesheet" href="~/fe/css/jquery.fancybox.min.css">
    <link rel="stylesheet" href="~/fe/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="~/fe/fonts/icomoon/style.css">
    <link rel="stylesheet" href="~/fe/fonts/line-icons/style.css">
    <link rel="stylesheet" href="~/fe/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/fe/css/animate.min.css">

   @* <link rel="stylesheet" href="~/fe/css/quill.snow.css">*@

    @RenderSection("link", required: false)

    <!-- MAIN CSS -->
    <link rel="stylesheet" href="~/fe/css/style.css" asp-append-version="true">


</head>
<body>
    <div id="overlayer"></div>
    <div class="loader">
        <div class="spinner-border text-primary" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>






    <section class="site-section pt-0 pb-0 portfolio-single" id="next-section">


        <div class="row m-0 ">

            <div class="col-3 col-lg-2 h-100 pl-2 pr-1 jm-sticky-top ">
                <div class="container pl-3 ">

                    <div class="container-fluid">
                        <div class="row align-items-center">
                            <div class="mb-4 site-logo col-6"><a href="#">JobBoard</a></div>
                        </div>
                    </div>
                    <div class="border p-3 mb-4 rounded">
                        <p class="mb-0 font-weight-bold"><span>For Employers</span></p>
                        <ul class="list-unstyled block__47528 mb-0">
                            <li><a href="#">Search resumes</a></li>
                            <li><a href="#">Submit a job</a></li>
                            <li><a href="#">Modify a job</a></li>
                            <li><a href="#">Useful tips</a></li>
                        </ul>
                    </div>
                    <div class="border p-3 mb-4 rounded">
                        <p class="mb-0 font-weight-bold"><span>For Job Seekers</span></p>
                        <ul class="list-unstyled block__47528 mb-0">
                            <li><a href="#">Search jobs</a></li>
                            <li><a href="#">Submit a resume</a></li>
                            <li><a href="#">Modify a resume</a></li>
                            <li><a href="#">Delete a resume</a></li>
                            <li><a href="#">Useful tips</a></li>
                        </ul>
                    </div>

                    <div class="border p-3 mb-4 rounded">
                        <p class="mb-0 font-weight-bold"><span>Free Magazines</span></p>
                        <ul class="list-unstyled block__47528 mb-0">
                            <li><a href="#">Free Magazines</a></li>
                        </ul>
                    </div>

                    <div class="border p-3 mb-4 rounded">
                        <p class="mb-0 font-weight-bold"><span>Quick Picks</span></p>
                        <ul class="list-unstyled block__47528 mb-0">
                            <li><a href="#"> C++ jobs</a></li>
                            <li><a href="#"> Java jobs</a></li>
                            <li><a href="#"> Testing jobs</a></li>
                            <li><a href="#"> Financial jobs</a></li>
                        </ul>
                    </div>

                    <div class="border p-3 mb-4 rounded">
                        <p class="mb-0 font-weight-bold"><span>Get Noticed Fast</span></p>
                        <ul class="list-unstyled block__47528 mb-0">
                            <li><a href="#"> Your logo</a></li>
                            <li><a href="#"> Banner ads</a></li>
                        </ul>
                    </div>

                    <div class="border p-3 mb-4 rounded">
                        <p class="mb-0 font-weight-bold"><span>Email</span></p>
                        <ul class="list-unstyled block__47528 mb-0">
                            <li><a href="#"> Getmeajobmail</a></li>
                        </ul>
                    </div>

                    <div class="border p-3 mb-4 rounded">
                        <p class="mb-0 font-weight-bold"><span>Help</span></p>
                        <ul class="list-unstyled block__47528 mb-0">
                            <li><a href="#"> Contact us</a></li>
                        </ul>
                    </div>

                    <div class="border p-3 mb-4 rounded">
                        <p class="mb-0 font-weight-bold"><span>Legal stuff</span></p>
                        <ul class="list-unstyled block__47528 mb-0">
                            <li><a href="#"> Terms of use</a></li>
                            <li><a href="#"> Your privacy</a></li>
                        </ul>
                    </div>


                </div>
            </div>
            <div class="col-9 col-lg-10">

                <div id="top">
                    <div class="site-wrap">
                        <div class="site-mobile-menu site-navbar-target">

                            <div class="site-mobile-menu-header">
                                <div class="site-mobile-menu-close mt-3">
                                    <span class="icon-close2 js-menu-toggle"></span>
                                </div>
                            </div>
                            <div class="site-mobile-menu-body"></div>
                        </div> <!-- .site-mobile-menu -->
                        <!-- NAVBAR -->
                        <header class="site-navbar mt-3">
                            <div class="container-fluid">
                                <div class="row align-items-center">


                                    <nav class="mx-auto site-navigation">
                                        <ul class="site-menu js-clone-nav d-none d-xl-block ml-0 pl-0">

                                            <li class="d-lg-none"><a href="#"><span class="mr-2">+</span> Post a Job</a></li>
                                            <li class="d-lg-none"><a href="#">Log In</a></li>
                                        </ul>
                                    </nav>

                                    @*<a href="#" onclick="openNav()" class="d-sm-block d-md-none d-lg-none d-xl-none mt-lg-2"><span class="icon-menu h3 m-0 p-0 mt-2"></span></a>*@


                                    <div class="right-cta-menu text-right d-flex aligin-items-center col-6">
                                        <div class="ml-auto">
                                            <a href="#" class="btn btn-outline-white border-width-2 d-none d-lg-inline-block"><span class="mr-2 icon-add"></span>Post a Job</a>
                                            <a href="#" class="btn btn-primary border-width-2 d-none d-lg-inline-block"><span class="mr-2 icon-lock_outline"></span>Log In</a>
                                        </div>
                                        <a href="#" class="site-menu-toggle js-menu-toggle d-inline-block d-xl-none mt-lg-2 ml-3"><span class="icon-menu h3 m-0 p-0 mt-2"></span></a>
                                    </div>

                                </div>
                            </div>
                        </header>

                       
                        <div class="">
                            @RenderBody()
                        </div>


                        <footer class="site-footer">

                            <a href="#top" class="smoothscroll scroll-top">
                                <span class="icon-keyboard_arrow_up"></span>
                            </a>

                            <div class="container">
                                <div class="row mb-5">
                                    <div class="col-6 col-md-3 mb-4 mb-md-0">
                                        <h3>Search Trending</h3>
                                        <ul class="list-unstyled">
                                            <li><a href="#">Web Design</a></li>
                                            <li><a href="#">Graphic Design</a></li>
                                            <li><a href="#">Web Developers</a></li>
                                            <li><a href="#">Python</a></li>
                                            <li><a href="#">HTML5</a></li>
                                            <li><a href="#">CSS3</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-6 col-md-3 mb-4 mb-md-0">
                                        <h3>Company</h3>
                                        <ul class="list-unstyled">
                                            <li><a href="#">About Us</a></li>
                                            <li><a href="#">Career</a></li>
                                            <li><a href="#">Blog</a></li>
                                            <li><a href="#">Resources</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-6 col-md-3 mb-4 mb-md-0">
                                        <h3>Support</h3>
                                        <ul class="list-unstyled">
                                            <li><a href="#">Support</a></li>
                                            <li><a href="#">Privacy</a></li>
                                            <li><a href="#">Terms of Service</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-6 col-md-3 mb-4 mb-md-0">
                                        <h3>Contact Us</h3>
                                        <div class="footer-social">
                                            <a href="#"><span class="icon-facebook"></span></a>
                                            <a href="#"><span class="icon-twitter"></span></a>
                                            <a href="#"><span class="icon-instagram"></span></a>
                                            <a href="#"><span class="icon-linkedin"></span></a>
                                        </div>
                                    </div>
                                </div>

                                <div class="row text-center">
                                    <div class="col-12">
                                        <p class="copyright">
                                            <small>
                                                Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved
                                            </small>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </footer>

                    </div>
                </div>
            </div>
        </div>
    </section>




    <!-- SCRIPTS -->
    <script src="~/fe/js/jquery.min.js"></script>
    <script src="~/fe/js/bootstrap.bundle.min.js"></script>
    <script src="~/fe/js/isotope.pkgd.min.js"></script>
    <script src="~/fe/js/stickyfill.min.js"></script>
    <script src="~/fe/js/jquery.fancybox.min.js"></script>
    <script src="~/fe/js/jquery.easing.1.3.js"></script>

    <script src="~/fe/js/jquery.waypoints.min.js"></script>
    <script src="~/fe/js/jquery.animateNumber.min.js"></script>
    <script src="~/fe/js/owl.carousel.min.js"></script>
    @*<script src="~/fe/js/quill.min.js"></script>*@

    @RenderSection("script", required: false)

    <script src="~/fe/js/bootstrap-select.min.js"></script>

    <script src="~/fe/js/custom.js" asp-append-version="true"></script>


    <script>
        function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
            document.getElementById("mySidenav").style.display = block;
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
            document.getElementById("mySidenav").style.display = none;
        }
    </script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
